.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  margin: 10px;
  position: relative;
}

.product__image {
  width: 100%;
  object-fit: contain;
}

.product__infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.product__infoContainer:hover {
  width: 100%;
  object-fit: contain;
  opacity: 1;
}
